*~
.DS_Store
.svn
.cvs
.scannerwork
*.crt
*.key
.vscode/
*.bak
*.swp
Thumbs.db
.htaccess

# wordpress specific
wp-config.php
wp-content/uploads/
wp-content/mu-plugins/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/plugins/enlighter/cache/*
!wp-content/plugins/enlighter/cache/.gitkeep
wp-content/plugins/fakerpress/
wp-content/wp-rocket-config/*
wp-content/wp-rocket-config/index.html
local-phpinfo.php
vendor

# wpengine specific
.smushit-status
.gitattributes
.wpe-pull-ignore
.wpe-push-ignore
_wpeprivate
wp-content/object-cache.php
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/limit-login-attempts
wp-content/mu-plugins/wpengine-common
wp-content/mysql.sql

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
*.conf
.idea/
.idea/fresh-freshconsulting-com-v4.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/encodings.xml
.idea/fresh-v4.iml
.idea/inspectionProfiles/
.idea/jsLinters/
node_modules/

.tmb
wp-content/.logs
wp-content/ai1wm-backups
wp-content/temp
wp-content/upgrade
wp-content/upgrade-temp-backup
wp-content/debug.*
local-xdebuginfo.php
